/* currentWeather.css */
.upperBottom {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}

.current-weather {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.temperature {
    font-size: 64px;
    color: #FFA500;
}

.additional-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
}