/* header.css */
.upper {
    margin-bottom: 20px;
}

.upperTop {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.search-bar {
    position: relative;
    width: 100%;
    max-width: 300px;
    /* Adjust this value as needed */
}

.search-bar input {
    width: 100%;
    padding: 10px 30px 10px 10px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.view-history,
.temperature-unit {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
}

.temperature-unit {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown-icon {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}