.upper {
    margin-bottom: 20px;
}

.upperTop {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.bottom {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.bottomLeft, .bottomRight {
    flex: 1;
    min-width: 250px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}

@media (max-width: 600px) {
    .upperTop {
        grid-template-columns: 1fr;
    }

    .bottom {
        flex-direction: column;
    }
}